<ul>
    <li><a 
        <% if (paginaAtiva === 'home') { %> class="active" <% } %> 
        href="/">Home</a></li>
    <li><a 
        <% if (paginaAtiva === 'operacao') { %> class="active" <% } %>
        href="/operacao/operacoes">Operações</a></li>
    <li><a 
        <% if (paginaAtiva === 'paginaPerfil') { %> class="active" <% } %>
        href="/user/perfil">Perfil</a></li>

    <li><a href="#sobre">Sobre</a></li>

    <li>
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </li>
</ul>