<div>
    <h1>Bem-vindo ao iMoney</h1>
    <p>Sua solução completa para todas as suas necessidades financeiras.</p>
    <p>Registre suas operações e acompanhe seus investimentos.</p>

    <div class="container-botoes">
        <a class="botao-link" href="/user/entrar">Login</a>
    </div>

    <div class="container-botoes">
        <a class="botao-link" href="/user/perfil">Perfil do usuário</a>
    </div>

    <br><br><br><br><br><br><br>
</div>