
<div>
    <div>
        <h1>Faça o login</h1>
    </div>
    <form action="/user/login" method="POST">
        <div ">
            <label for="inputUsername" ">username:</label>
            <input type="text" id="inputUsername" name="username">
        </div>
        <div ">
            <label for="inputPassword" ">password:</label>
            <input type="password" " id="inputPassword" name="password">
        </div>
        <button type="submit">Submit</button>
    </form>

    <div>
        <p>Ainda não possui conta?</p>
    </div>
    <div class="container-botoes">
        <a class="botao-link" href="/user/novo">Cadastre-se</a>
    </div>
</div>