
<div>
    <form action="/user/login" method="POST">
        <div ">
            <label for="inputUsername" ">username:</label>
            <input type="text" id="inputUsername" name="username">
        </div>
        <div ">
            <label for="inputPassword" ">password:</label>
            <input type="password" " id="inputPassword" name="password">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>