<div>
    <div>
        <h1>Realize seu cadastro</h1>
    </div>
    <div class="form-container">
        <form action="/user/salvar" method="POST">
            <div>
                <label for="inputUsername">username:</label>
                <input type="text" id="inputUsername" name="username">
            </div>
            <div>
                <label for="inputPassword1">password:</label>
                <input type="password" id="inputPassword1" name="password1">
            </div>
            <div>
                <label for="inputPassword2">repita o password:</label>
                <input type="password" id="inputPassword2" name="password2">
            </div>
            <div>
                <label for="inputEmail">email:</label>
                <input type="email" id="inputEmail" name="email"
                    placeholder="fulano@email.com">
            </div>
            <div>
                <label for="inputFirstName">primeiro nome:</label>
                <input type="text" id="inputFirstName" name="nome">
            </div>
            <div>
                <label for="inpuLastName">último nome:</label>
                <input type="text" id="inputLastName" name="sobrenome">
            </div>
            <div>
                <input type="submit" value="Cadastrar">
            </div>
            <div class="acesso-conta">
            <p>Já possui conta? <a class="botao-link" href="/user/login">Entre aqui</a></p>
        </div>
        </form>
    </div>
</div>