<div>
    <div>
        <h1>Perfil</h1>
    </div>
    <div>
        <ul>
            <li><strong>Username:</strong> <%= user.username %></li>
            <li><strong>Nome:</strong> <%= user.nome %> <%= user.sobrenome %></li>
            <li><strong>Email:</strong> <%= user.email %></li>
        </ul>
    </div>
    <div class="container-botoes">
        <a class="botao-link" href="/">Editar perfil</a>
    </div>
</div>